*,
::before,
::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #FFE7B7;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    color: #12272D;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1180px;
    max-width: 100%;
}

.header {
    background-color: #ffffff;
    &__inner {
        padding: 16px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__logo {
        display: block;
        width: 165px;
        height: 34px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__call {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 20px;
        &--img {
            display: block;
            width: 30px;
            height: 30px;
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin-left: 13px;
            font-family: 'ProximaNova';
            font-weight: 400;
            &__number {
                display: block;
                color: #292727;
            }
            span {
                display: block;
                color: #292727;
            }
        }
    }
}
.title {
    display: block;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    &-intro {
        font-size: 60px;
        line-height: 75px;
        color: #ffffff;
        width: 400px;
    }
    &-dark {
        margin: 0 auto;
        display: block;
        width: 822px;
        font-size: 64px;
        line-height: 80px;
        text-align: center;
        color: #292727;
    }
    &-video {
        display: none;
    }
}
.text {
    display: block;
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.subtitle {
    margin-top: 18px;
    display: block;
    width: 380px;
}
.button {
    display: block;
    width: 280px;
    height: 70px;
    border-radius: 45px;
    padding: 21px 0;
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    &-timer {
        background: #FFFFFF;
        border: 1px solid #FF6464;
        color: #FF6464;
        margin-left: auto;
        &:hover {
            background: #FF6464;
            color: #ffffff;
            -webkit-transition: .2s linear;
            -o-transition: .2s linear;
            transition: .2s linear;
        }
        &:active {
            background: #F05050;
            color: #FFFFFF;
        }
    }
    &-card {
        position: relative;
        background: #FFE7B7;
        color: #292727;
        &:hover {
            -webkit-transform: scale(1.03);
                -ms-transform: scale(1.03);
                    transform: scale(1.03);
            -webkit-transition: .2s linear;
            -o-transition: .2s linear;
            transition: .2s linear;
        }
    }
}
.arrow {
    display: block;
    margin-left: 40px;
    width: 80px;
    height: auto;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #292727;
    }
    &:hover {
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }
}
.-yellow {
    svg {
        fill: #FFE7B7;
    }
}

.intro {
    position: relative;
    background-color: #204D48;
    background-image: url('../img/bg-intro.png');
    background-repeat: no-repeat;
    background-position-x: 251px;
    background-position-y: center;
    &__img {
        &-mobile {
            display: none;
        }
    }
    &-timer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        bottom: -75px;
        background-color: #ffffff;
        width: 1180px;
        height: 150px;
        padding: 27px 100px;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        &__title {
            display: block;
            width: 180px;
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
            color: #292727;
            &--mobile {
                display: none;
            }
        }
    }
    .timer {
        &__inner {
            padding: 0 120px 0 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            &--item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                &:not(:last-child) {
                    &::after {
                    content: '';
                    display: block;
                    margin: 0 7px;
                    width: 1px;
                    height: 65px;
                    background-color: #292727;
                    }
                }
                &__col {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
                &__num {
                    font-family: 'ProximaNova';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 73px;
                    text-align: center;
                    color: #FF6464;
                }
                &__text {
                    font-family: 'ProximaNova';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-align: center;
                    color: #292727;
                }
            }
        }
    }
    &__inner {
        padding: 110px 0 180px 100px;
    }
}
.video {
    padding: 160px 0 90px 0;
    &__inner {
       &--item {
           display: block;
           margin: 0 auto;
           width: 980px;
           height: 550px;
       }
    }
}
.package {
    position: relative;
    &-img {
        display: block;
        width: auto;
        height: 197px;
        position: absolute;
        top: 60px;
        left: 19%;
    }
    &__inner {
        padding: 40px 0;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 33.33% 0px 33.33% 0px 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
        gap: 0px 0px;
        &--item {
            &:nth-child(1) {
                background-color: #ffffff;
            }
            &:nth-child(2) {
                background-color: #FF6464;
            }
            &:nth-child(3) {
                background-color: #204D48;
            }
        }
    }
    &__item {
        &--header {
            padding: 45px 0 33px 85px;
            border-bottom: 1px #FFE7B7 solid;
            &__title {
                display: block;
                margin-bottom: 8px;
                font-family: 'ProximaNova';
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 32px;                
                color: #ffffff;
            }
            &__subtitle {
                font-family: 'ProximaNova';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
            }
        }
        &--text {
            padding: 33px 280px 55px 85px;
        }
        &--footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 58px 0 50px 85px;
            border-top: 1px #FFE7B7 solid;
        }
    }
    &__link {
        display: block;
        margin-bottom: 25px;
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            -webkit-text-decoration: underline #FFE7B7;
                    text-decoration: underline #FFE7B7;
            -webkit-transition: .2s linear;
            -o-transition: .2s linear;
            transition: .2s linear;
        }
    }
    .-dark {
        color: #292727;
    }
    &__cost {
        padding: 0 0 40px 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        &--title {
            display: block;
            margin-bottom: 40px;
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
            color: #ffffff;
        }
        &--old {
            display: block;
            position: relative;
            margin-bottom: 20px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: #ffffff;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                width: 150px;
                height: 2px;
                background-color: #FF6464;
            }
            &:not(.-dark) {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                    width: 150px;
                    height: 2px;
                    background-color: #FFE7B7;
                }
            }
            
        }
        &--new {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #FFE7B7;
        }
        .-red {
            color: #FF6464; 
        }
    }
}
.autor {
    padding: 90px 0;
    &__inner {
        padding: 50px 0 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        &--line {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        &--item {
            display: block;
            margin-bottom: 20px;
            width: 49%;
            background-color: #FF6464;
            font-family: 'ProximaNova';
        }
        &--img {
            display: block;
            width: 100%;
            height: 100%;
        }
        &--text {
            padding: 29px 80px 29px 80px;
        }
        &--name {
            display: block;
            margin-bottom: 18px;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }
    &__text {
        display: block;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer {
    padding: 60px 0 90px 0;
    &__inner {
        margin-top: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &--text {
            font-family: 'ProximaNova';
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #292727;
        }
        &--email {
            font-family: 'ProximaNova';
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            text-decoration: underline;
            color: #292727;
            &:hover {
                -webkit-transition: .2s linear;
                -o-transition: .2s linear;
                transition: .2s linear;
            }
        }
    }
    &__link {
        margin: 60px auto 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 550px;
        &--item {
            display: block;
            width: 65px;
            height: 65px;
            fill: #FF6464;
            &:hover {
                fill: rgb(250, 71, 71);
                -webkit-transition: .2s linear;
                -o-transition: .2s linear;
                transition: .2s linear;
            }
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media(max-width: 1366px) {
    .container {
        padding: 0 1%;
    }
    .intro {
        background-position: center;
    }
    .package {
        &-img {
            height: 140px;
            top: 100px;
        }
        &__item {
            &--header {
                padding: 45px 0 33px 50px;
            }
            &--text {
                padding: 33px 136px 55px 50px;
            }
            &--footer {
                padding: 58px 0 50px 50px;
            }
        }
        &__cost {
            padding: 0 0 40px 50px;
        }
    }
    .arrow {
        margin-left: 20px;
    }
}
@media(max-width: 1112px) {
    .intro {
        background-size: 98%;
        &__inner {
            padding: 90px 0 180px 100px;
        }
        &-timer {
            width: 1000px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            padding: 27px 50px;
        }
    }
    .title {
        &-intro {
            font-size: 57px;
            line-height: 70px;
        }
        &-dark {
            font-size: 54px;
            line-height: 57px;
        }
    }
    .package {
        &__item {
            &--header {
                padding: 30px 0 30px 15px;
                &__title {
                    font-size: 24px;
                }
            }
            &--text {
                padding: 30px 100px 55px 15px;
            }
            &--footer {
                padding: 10px 0 20px 15px;
            }
        }
        &__link {
            font-size: 18px;
            line-height: 21px;
        }
        &__cost {
            padding: 0 0 40px 15px; 
        }
        &-img {
            height: 100px;
        }
    }
    .button {
        &-card {
            padding: 17px 0;
            width: 230px;
            height: 60px;
        }
    }
    .autor {
        &__text {
            font-size: 18px;
            line-height: 21px;
        }
    }
}
@media(max-width: 1024px) {
    .title {
        &-intro {
            font-size: 53px;
            line-height: 66px;
        }
    }
    .intro {
        &-timer {
            width: 95%;
        }
        .timer {
            &__inner {
                &--item {
                    &:not(:last-child) {
                        &::after {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
    .package {
        &__item {
            &--text {
                padding: 30px 84px 55px 15px;
            }
        }
    }
    .button {
        &-card {
            padding: 13px 0;
            height: 50px;
        }
    }
    .arrow {
        margin-left: 7px;
    }
    .autor {
        &__inner {
            &--text {
                padding: 29px 40px;
            }
        }
    }
}
@media(max-width: 991px) {
    .video {
        &__inner {
            &--item {
                width: 900px;
                height: 510px;
            }
        }
    }
    .title {
        &-dark {
            font-size: 48px;
            line-height: 51px;
        }
    }
    .package {
        &-img {
            display: none;
        }
        &__inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            &--item {
                margin: 0 auto 30px auto;
                width: 80%;
            }
        }
        &__item {
            &--header {
                padding: 25px 0 30px 25px;
                border-bottom: none;
            }
            &--text {
                padding: 25px 0 0 25px;
            }
            &--footer {
                border-top: none;
                padding: 25px 0 45px 25px;
            }
        }
        &__cost {
            padding: 30px 0 20px 25px;
        }
    }
    .button {
        &-card {
            width: 280px;
            height: 70px;
            padding: 21px 0;
            &:hover {
                -webkit-transform: none;
                    -ms-transform: none;
                        transform: none;
            }
        }
    }
    .arrow {
        display: none;
    }
    .autor {
        padding: 0;
        &__inner {
            &--line {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                &:last-child {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: reverse;
                        -ms-flex-direction: column-reverse;
                            flex-direction: column-reverse;
                }
            }
            &--item {
                width: 60%;
            }
        }
    }
}
@media(max-width: 834px) {
    .header {
        background-color: #204D48;
        &__call {
            display: none;
        }
        &__logo {
            margin-left: 20px;
        }
    }
    .intro {
        background-size: 94%;
        &__inner {
            padding: 5px  0 180px 20px;
        }
        &-timer {
            height: auto;
            padding: 20px 30px;
            &__title {
                font-size: 25px;
                line-height: 28px;
            }
        }
        .timer {
            &__inner {
                padding: 0;
                &--item {
                    &__num {
                        font-size: 48px;
                        line-height: 70px;
                    }
                }
            }
        }
    }
    .title {
        &-intro {
            font-size: 50px;
            line-height: 63px;
        }
    }
    .button {
        width: 250px;
        height: 60px;
        padding: 16px 0;
    }

    .video {
        &__inner {
            &--item {
                width: 750px;
                height: 400px;
            }
        }
    }
    .title {
        &-video {
            display: block;
        }
    }
}
@media(max-width: 768px) {
    .title {
        &-video {
            text-align: center;
            margin-bottom: 30px;
            font-size: 64px;
            line-height: 80px;
            text-align: center;
            color: #292727;
        }
        &-dark {
            width: auto;
        }
        &-card {
            font-size: 45px;
            line-height: 48px;
        }
    }
    .header {
        &__inner {
            padding: 16px 0 0 0;
        }
    }
    .intro {
        background-image: none;
        background-size: 60%;
        background-position: right;
        &__img {
            &-mobile {
                display: block;
                position: absolute;
                height: 511px;
                width: auto;
                top: 0;
                right: 1%;
                z-index: 5;
            }
        }
        &__inner {
            padding: 65px 0 260px 20px;
        }
        &-timer {
            bottom: 100px;
            &__title {
                display: none;
                &--mobile {
                    display: block;
                    width: 300px;
                    margin-top: 60px;
                    font-family: 'ProximaNova';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }
        .timer {
            &__inner {
                &--item {
                    &__num {
                        font-size: 43px;
                        line-height: 48px;
                    }
                }
            }
        }
    }
    .video {
        padding: 50px 0 90px 0;
    }
    .footer {
        &__link {
            &--item {
                width: 50px;
                height: 50px;
            }
        }
    }
}
@media (max-width: 667px) {
    .intro {
        &__img {
            &-mobile {
                height: 500px;
            }
        }
    }
    .video {
        &__inner {
            &--item {
                width: 599px;
                height: 350px;
            }
        }
    }
    .title {
        &-video {
            font-size: 50px;
            line-height: 53px;
        }
    }
    .autor {
        &__inner {
            &--item {
                width: 80%;
            }
        }
    }
    .footer {
        &__link {
            width: 70%;
        }
    }
}
@media (max-width: 568px) {
    .button {
        &-timer {
            background-color: #F05050;
            color: #ffffff;
            position: absolute;
            bottom: -85px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
    .intro {
        &__img {
            &-mobile {
                height: 505px;
            }
        }
        &-timer {
            width: 90%;
            border-radius: 60px;
            &__title {
                &--mobile {
                    margin-top: 30px;
                }
            }
        }
        .timer {
            &__inner {
                margin: 0 auto;
                &--item {
                    &:not(:last-child) {
                        &::after {
                            margin: 0 20px;
                        }
                    }
                }
            }
        }
    }
    .video {
        &__inner {
            &--item {
                width: 490px;
                height: 300px;
            }
        }
    }
    .title {
        &-video {
            font-size: 42px;
        }
    }
    .package {
        &__inner {
            &--item {
                width: 90%;
            }
        }
    }
}
@media (max-width: 414px) {
    .header {
        &__logo {
            width: 129px;
            height: 27px;
        }
    }
    .title {
        &-intro {
            width: 300px;
            font-size: 32px;
            line-height: 40px;
        }
    }
    .subtitle {
        width: 250px;
        font-size: 16px;
        line-height: 24px;
    }
    .intro {
        &-timer {
            bottom: 164px;
            padding: 9px 0;
            &__title {
                &--mobile {
                    width: 200px;
                    margin-top: 20px;
                    font-size: 18px;
                    line-height: 21px;
                }
            }
        }
        &__inner {
            padding: 20px 0 260px 20px;
        }
        .timer {
            &__inner {
                &--item {
                    &:not(:last-child) {
                        &::after {
                            height: 45px;
                            background-color: rgba(41, 39, 39, 0.1);
                        }
                    }
                    &__num {
                        font-size: 24px;
                        line-height: 27px;
                    }
                }
            }
        }
        &__img {
            &-mobile {
                height: 340px;
            }
        }
        .button {
            padding: 11px 0;
            width: 230px;
            height: 50px;
            font-size: 18px;
        }
    }
    .video {
        padding: 50px 0 80px 0;
        &__inner {
            &--item {
                width: 390px;
                height: 230px;
            }
        }
    }
    .title {
        font-size: 32px;
        line-height: 35px;
    }
    .package {
        &__inner {
            &--item {
                width: 100%;
            }
        }
        &__item {
            &--header {
                &__subtitle {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            &--text {
                padding: 1px 0 0 25px;
            }
        }
        &__link {
            font-size: 16px;
            line-height: 19px;
        }
    }
    .autor {
        &__inner {
            &--item {
                width: 93%;
            }
            &--text {
                padding: 20px 15px;
            }
        }
    }
    .footer {
        padding: 40px 0 35px 0;
        &__link {
            margin: 25px auto 0 auto;
            &--item {
                width: 30px;
                height: 30px;
            }
        }
        &__inner {
            &--text {
                font-size: 17px;
                line-height: 20px;
            }
            &--email {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}
@media (max-width: 375px) {
    .intro {
        &-timer {
            &__title {
                &--mobile {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        .timer {
            &__inner {
                &--item {
                    &:not(:last-child) {
                        &::after {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
        &__img {
            &-mobile {
                height: 321px;
            }
        }
    }
    .video {
        &__inner {
            &--item {
                width: 315px;
                height: 180px;
            }
        }
    }
    .autor {
        &__inner {
            &--name {
                font-size: 19px;
                margin-bottom: 16px;
            }
        }
        &__text {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 19px;
        }
    }
}
@media(max-width: 320px) {
    .intro {
        overflow: hidden;
    }
}
/*FONTS*/
@font-face {
    font-family: 'ProximaNova'; 
    src: url('../fonts/ProximaNova-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'ProximaNova'; 
    src: url('../fonts/ProximaNova-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-black.ttf');
    font-weight: 900;
}